.fa-office-banner{
    width: 100%;
    overflow: hidden;
}

.banner-image{
    opacity: 0.8;
    width: 100%;
}

.banner-title{
    font-size: 3em;
    font-weight: bold;
}

.font-same-line-icon{
    font-size: 0.5em;
}


@media (min-width: 768px) {
    .fa-office-banner{
        width: 100%;
        overflow: hidden;
        height : 550px;
    }
}

.glyphicon-chevron-left{
    margin-left: 40px !important;
}

.glyphicon-chevron-right{
    margin-right: 40px !important;
}

.right-control{
    right: 0;
    left: auto;
}

.remove-padding-right{
    padding-right: 0 !important;
}

.caption-image{
    width: 940px;
    height: 624px;
}

.caption-box{
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background: rgba(251,213,0,0.8);
    height: 624px;
    width: 380px;
}

.item{
    max-height: 624px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.main-service-carousel{
    width: 100%;
    overflow: hidden;
}

.button-transparent{
    background-color: Transparent;
    border: 1px solid #1d1e1f;
    cursor:pointer;
    overflow: hidden;
    color: #1d1e1f;
    margin-top: 5%;
    margin-bottom: 5%;
}

.button-transparent:hover{
    background-color: #1d1e1f;
    border: 1px solid #FFFFFF;
    cursor:pointer;
    overflow: hidden;
    color: #FFFFFF;
    margin-top: 5%;
    margin-bottom: 5%;
}


.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.table-header{
    background-color: #FBD500;
}

.btn-choose{
    background: #FBD500;
    color: #1d1e1f;
    width: 80%;
    padding: 5%;
}

.btn-choose:hover{
    background: #1d1e1f;
    color: #FBD500;
    width: 80%;
}

.text-yellow-color > a{
    color: #FBD500;
    text-underline: none;
}

.text-yellow-color > a:hover{
    color: #1d1e1f;
    text-underline: none !important;
}

.info-span{
    background:#F8F8F8;
    /*border: 1px solid #DFDFDF;*/
    color: #717171;
    font-size: 13px;
    height: auto;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    display:none;
    padding:0 20px;

}
.info-span:after{
    content:'';
    position:absolute;
    width:300px;
    /*height:10px;*/
    /*border-bottom:5px solid #dfdfdf;*/
    /*border-right:5px solid #dfdfdf;*/
    background:#f8f8f8;
    left:50%;
    margin-left:-10px;
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}
.info-box{
}

.info-box:hover span{
    display:block;
    position: absolute;
    width:300px;
    border: 1px solid;
    background-color: #ffffff;
    box-shadow: 10px 10px 5px #888888;
}
